<template>
  <v-layout>
    <v-layout>
      <v-flex xs3>
        <v-card>
          <v-card-title><h3 class="subheading text-uppercase">{{ $t('dashboard') }}</h3></v-card-title>
          <v-card-text>
            <v-list>
              <v-btn block color="pink" class="elevation-5 mb-3" dark :to="{ name: 'project.create' }"><v-icon left>add</v-icon>{{ $t('create_project') }}</v-btn>
              <v-list-tile active-class="pink white--text" color="pink pink--text" v-for="tab in tabs" :key="tab.route" :to="{ name: tab.route }" ripple>
                <v-icon left>{{ tab.icon }}</v-icon>
                {{ tab.name }}
              </v-list-tile>
            </v-list>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs9 pa-3>
        <transition name="fade" mode="out-in">
          <router-view/>
        </transition>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
export default {
  middleware: 'auth',

  computed: {
    tabs () {
      return [
        {
          icon: 'folder',
          name: this.$t('projects'),
          route: 'dashboard.projects'
        },
        {
          icon: 'person',
          name: this.$t('profile'),
          route: 'dashboard.profile'
        },
        {
          icon: 'lock',
          name: this.$t('password'),
          route: 'dashboard.password'
        },
      ]
    }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
