<template>
  <v-form>
    <v-layout justify-center align-content-center>
      <v-flex sm6 xs12>
        <v-card>
          <v-card-title><h2>{{ $t('register') }}</h2></v-card-title>
          <form @submit.prevent="register" @keydown="form.onKeydown($event)">
            <v-card-text>
              <v-tabs fixed-tabs>
                <v-tab :key="1">Mongolian</v-tab>
                <v-tab :key="2">English</v-tab>

                <v-tab-item :key="1">
                  <v-container grid-list-md>
                    <v-layout row wrap>
                      <v-flex md6>
                        <v-select
                          :items="[{text: 'Company', value: 2}, {text: 'Person', value: 1}]"
                          :label="$t('user_type')"
                          v-model="form.user_type_id"
                        ></v-select>
                      </v-flex>
                      <v-flex md6 v-if="form.user_type_id == 2">
                        <v-text-field autofocus v-model="form.org_name" :class="{ 'is-invalid': form.errors.has('name') }" type="text" name="name"
                            :label="$t('company_name')" color="blue"/>
                      </v-flex>
                      <v-flex md6 v-if="form.user_type_id == 1">
                        <v-text-field autofocus v-model="form.last_name" :class="{ 'is-invalid': form.errors.has('name') }" type="text" name="name"
                            :label="$t('last_name')" color="blue"/>
                      </v-flex>
                      <v-flex md6 v-if="form.user_type_id == 1">
                        <v-text-field autofocus v-model="form.first_name" :class="{ 'is-invalid': form.errors.has('name') }" type="text" name="name"
                            :label="$t('first_name')" color="blue"/>
                      </v-flex>
                      <v-flex md6>
                        <v-text-field v-model="form.email" :class="{ 'is-invalid': form.errors.has('email') }" type="email" name="email"
                              class="form-control" color="blue" :label="$t('email')"/>
                      </v-flex>
                      <v-flex md6>
                        <v-text-field v-model="form.password" :class="{ 'is-invalid': form.errors.has('password') }" type="password" name="password"
                              class="form-control" color="blue" :label="$t('password')"/>
                      </v-flex>  
                      <v-flex md6>
                        <v-text-field v-model="form.password_confirmation" :class="{ 'is-invalid': form.errors.has('password_confirmation') }" type="password" name="password_confirmation"
                              class="form-control" color="blue" :label="$t('confirm_password')"/>
                      </v-flex>
                      
                    </v-layout>
                    
                  </v-container>
                </v-tab-item>
                <v-tab-item :key="2">

                </v-tab-item>
              </v-tabs>
              <v-layout>
                <v-flex justify-center align-content-center>
                  <v-tooltip top> 
                    <v-btn icon color="blue white--text"   slot="activator"><v-icon>clear</v-icon></v-btn>
                    <span>Clear</span>
                  </v-tooltip>
                  <!-- Submit Button -->
                  <v-btn @click="register" color="green white--text" :loading="form.busy">
                    {{ $t('register') }}
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-card-text>
          </form>
        </v-card>
      </v-flex>
    </v-layout >
  </v-form>
</template>

<script>
import Form from 'vform'

export default {
  head () {
    return { title: this.$t('register') }
  },

  data: () => ({
    form: new Form({
      user_type_id: '',
      name: '',
      email: '',
      password: '',
      password_confirmation: ''
    })
  }),

  methods: {
    async register () {
      // Register the user.
      const { data } = await this.form.post('/register')

      // Log in the user.
      const { data: { token } } = await this.form.post('/login')

      // Save the token.
      this.$store.dispatch('auth/saveToken', { token })

      // Update the user.
      await this.$store.dispatch('auth/updateUser', { user: data })

      // Redirect home.
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
