<template>
<v-container>
  <v-snackbar
    v-model="successSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('funding_success') }}
    <v-btn
      color="pink"
      flat
      @click="successSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>

  <v-snackbar
    v-model="errorSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('funding_error') }}
    <v-btn
      color="pink"
      flat
      @click="errorSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>
  <v-dialog v-model="showOwnerModal" max-width="400">
    <v-card v-if="project != null">
      <v-card-title><h2>{{ project.relations.user.org_name }}</h2></v-card-title>
      <v-card-text>
        <v-list>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ project.relations.user.dob }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ project.relations.user.bio }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ project.relations.user.phone_number }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>{{ project.relations.user.email }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="showOwnerModal = false">{{ $t('close') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="showDonationModal" max-width="750">
    <v-card v-if="project != null">
      <v-card-title><h2 class="green--text">{{ $t('fund') }}</h2></v-card-title>
      <v-card-text>
        <v-layout>
          <v-flex xs8>
            <v-layout column px-5>
              <v-flex>
                <v-checkbox v-model="donation.isAnonymous" :label="$t('anonymous')" color="pink"></v-checkbox>
              </v-flex>
              <v-flex>
                <v-layout row>
                  <v-flex xs8 mr-2>
                    <v-slider
                      v-model="donation.amount"
                      :max="100000000"
                      step="100000"
                      color="pink"
                    ></v-slider>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field color="pink" v-model="donation.amount" type="number" :label="$t('amount')"></v-text-field>
                  </v-flex>
                </v-layout>
              </v-flex>
              <template v-if="!donation.isAnonymous">
                <v-flex>
                  <v-text-field maxlength="50" counter="50" v-model="donation.name" :label="$t('name')"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-text-field maxlength="250" counter="250" v-model="donation.email" :label="$t('email')"></v-text-field>
                </v-flex>
                <v-flex>
                  <v-textarea maxlength="250" counter="250"  rows="1" auto-grow v-model="donation.comment" :label="$t('more')"></v-textarea>
                </v-flex>
              </template>
            </v-layout>
          </v-flex>
          <v-flex xs4>
            <v-layout column justify-center>
              <template v-if="donation.amount != 0">
                <v-img src="/qr.jpg"></v-img>
                <v-btn color="green" dark large @click="storeDonation">{{ $t('fund') }}</v-btn>
              </template>
              <template v-else>
                <v-sheet class="subheading text-uppercase orange--text">
                  {{ $t('complete_fields') }}
                </v-sheet>
              </template>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-btn dark color="red" @click="showDonationModal = false">{{ $t('close') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-layout row wrap v-if="project != null">
    <v-flex xs7 pa-2>
      <v-img :src="project.thumbnail_img"></v-img>
    </v-flex>
    <v-flex xs5 pa-2>
      <v-layout column>
        <v-flex class="mt-2 mb-2">
          <span class="caption green--text text-uppercase" v-if="project.is_fixed_goal">{{$t('is_fixed')}}</span>
          <span class="caption green--text text-uppercase" v-else>{{$t('is_not_fixed')}}</span>
        </v-flex>
        <v-flex><h2 class="display-2 mb-3">{{ project.name }}</h2></v-flex>
        <v-flex>
          <span class="blue--text" v-if="project.relations.category.parent == 1">TECH & INNOVATION</span>
          <span class="blue--text" v-else-if="project.relations.category.parent == 2">CREATIVE WORKS</span>
          <span class="blue--text" v-else-if="project.relations.category.parent == 3">COMMUNITY PROJECTS > </span>
          <span class="subheading blue--text">{{ project.relations.category.name }}</span>
        </v-flex>
        <v-flex><v-btn flat outline color="blue" @click="showOwnerModal = true">{{ project.relations.user.org_name }}</v-btn></v-flex>
        <v-flex my-3><v-sheet class="subheading">{{ project.description }}</v-sheet></v-flex>
        <v-flex><v-sheet class="title">
          <span>₮{{ project.goal_amount }}</span>
          <span> - ₮{{ project.relations.total_donation }}</span>
          <v-btn dark color="pink" @click="showDonationModal = true">{{ $t('fund') }}</v-btn>
        </v-sheet></v-flex>
        <v-flex>
          <v-progress-linear color="green" v-model="total_amount"></v-progress-linear>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  <v-layout v-if="project != null" mt-3>
    <v-flex xs12 justify-center>
      <!-- <template v-slot:extension> -->
        <v-tabs centered fixed-tabs>
          <v-tab ripple key="tab-1">{{ $t('more') }}</v-tab>
          <v-tab ripple key="tab-2">{{ $t('posts') }}</v-tab>
          <v-tab ripple key="tab-3">{{ $t('funds') }}</v-tab>
          <v-tab-item key="tab-1" class="py-4">
            <v-layout justify-center>
              <v-flex xs6 class="subheading">
                {{ project.story }}
              </v-flex>
            </v-layout>
          </v-tab-item>
          <v-tab-item key="tab-2" class="py-4">
            <v-layout justify-center  >
              <v-flex xs6>
                <v-expansion-panel>
                  <v-expansion-panel-content
                    v-for="post in project.relations.posts"
                    :key="'post-'+post.id">
                    <template v-slot:header>
                      <div>{{ post.title }}</div>
                    </template>
                    <v-card>
                      <v-card-text>{{ post.body }}</v-card-text>
                    </v-card>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-flex>
            </v-layout>
          </v-tab-item>
          <v-tab-item key="tab-3" class="py-4">
            <v-layout justify-center>
              <v-flex xs6>
                <v-list>
                  <template v-for="don in project.relations.donations">
                    <v-list-tile :key="'don-'+don.id">
                      <v-list-tile-content>
                        <v-list-tile-title>
                          ₮{{ don.amount }} - 
                          <span class="red--text" v-if="don.is_anonymous">{{ $t('is_anonymous') }}</span>
                          <span v-else>{{ don.name }}</span>
                        </v-list-tile-title>
                        <v-list-tile-sub-title>{{ don.comment }}</v-list-tile-sub-title>
                      </v-list-tile-content>
                    </v-list-tile>
                    <v-divider :key="'don-div-'+don.id"></v-divider>
                  </template>
                </v-list>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs>
      <!-- </template> -->
    </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {

  head () {
    return { title: this.$t('home') }
  },

  data: () => ({
    title: process.env.appName,
    project: null,
    total_amount: 0,
    showOwnerModal: false,
    showDonationModal: false,
    donation: {
      isAnonymous: false,
      name: null,
      email: null,
      comment: null,
      amount: 0
    },
    successSnackbar: false,
    errorSnackbar: false
  }),

  created(){
    this.loadProducts()
  },

  methods: {
    loadProducts(){
      axios.get(process.env.apiUrl+'/project/'+this.$route.params.id)
        .then((response) => {
          this.project = response.data.data;
          console.log(this.project.relations.donations)
          var total = parseInt(this.project.relations.total_donation) / parseInt(this.project.goal_amount) * 100;
          if(total > 100){
            this.total_amount = 100
          }else{
            this.total_amount = total.toFixed(0)
          }
        })
        .catch(function (error) {
          console.log(error);
        })
    },

    storeDonation(){
      axios.post(process.env.apiUrl+'/donation/'+this.$route.params.id, this.donation)
        .then((response) => {
          console.log(response.data.status)
          if(response.data.status === 'success'){
            this.successSnackbar = true
            this.project.relations.donations.push(response.data.donation)
            this.showDonationModal = false
          }else{
            this.errorSnackbar = true
          }
        })
        .catch(function (error) {
          console.log(error);
        })
    }
  },

  computed: mapGetters({
    authenticated: 'auth/check'
  })
}
</script>

<style scoped>
.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.project-name{
  width: 100%;
}

.project-category{
  display: block;
  font-size: .8rem;
}

.title {
  font-size: 85px;
}
</style>
