<template>
<v-card>
  <v-snackbar
    v-model="deletedSnack"
    bottom right
    :timeout="5000">
    {{ $t('deleted_project') }}
    <v-btn
      color="pink"
      flat
      @click="deletedSnack = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>
  <v-dialog v-model="showDeleteModal" width="300">
    <v-card>
      <v-card-title><h2><span color="red">{{ $t('are_you_sure') }}</span></h2></v-card-title>
      <v-card-actions>
        <v-btn @click="showDeleteModal = false">{{ $t('close') }}</v-btn>
        <v-btn color="red" dark @click="deleteProject">{{ $t('delete') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-card-text>
    <v-list v-if="projects != null">
      <template v-for="project in projects">
        <v-list-tile :key="'project'+project.id">
          <v-list-tile-content>
            <v-list-tile-title>{{ project.name }}</v-list-tile-title>
          </v-list-tile-content>
          <v-btn icon color="blue" dark :to="{ name: 'project.edit', params: { id: project.id } }"><v-icon>edit</v-icon></v-btn>
          <v-btn icon color="red" @click="openDeleteModal(project.id)" dark><v-icon>delete</v-icon></v-btn>
        </v-list-tile>
        <v-divider :key="'divider'+project.id"></v-divider>
      </template>
    </v-list>
  </v-card-text>
</v-card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {
  scrollToTop: false,

  head () {
    return { title: 'Удирдлага' }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: ''
    }),
    projects: null,
    showDeleteModal: false,
    deletedSnack: false,
    deleteProjectId: null
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.loadProjects()
  },

  methods: {
    async update () {
      const { data } = await this.form.patch('/settings/profile')

      this.$store.dispatch('auth/updateUser', { user: data })
    },
    
    loadProjects(){
      axios.get(process.env.apiUrl+'/user/projects/'+this.user.id)
        .then((response) => {
          this.projects = response.data.data;
        })
        .catch(function (error) {
          console.log(error);
        })
    },

    openDeleteModal(id){
      this.deleteProjectId = id
      this.showDeleteModal = true
    },

    deleteProject(){
      axios.delete(process.env.apiUrl+'/project/'+this.deleteProjectId)
        .then((response) => {
          this.showDeleteModal = false
          this.deletedSnack = true
          this.loadProjects()
        })
        .catch(function (error) {
          console.log(error);
        })
    }
  }
}
</script>
