<template>
<v-card>
  <v-snackbar
    v-model="errorSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('complete_fields') }}
    <v-btn
      color="pink"
      flat
      @click="errorSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>
  <v-snackbar
    v-model="successSnackbar"
    bottom right
    :timeout="5000">
    {{ $t('post_create_success') }}
    <v-btn
      color="pink"
      flat
      @click="errorSnackbar = false">
      {{ $t('close') }}
    </v-btn>
  </v-snackbar>

  <v-dialog v-model="showEditPostModal">
    <v-card>
      <v-card-actions>
        <v-btn @click="showEditPostModal = false">{{ $t('cancel') }}</v-btn>
        <v-btn @click="updatePost">{{ $t('save') }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

  <v-card-title v-if="project"><h2 class="display-1">{{ project.name }} - {{ $t('posts') }}</h2></v-card-title>
  <v-card-text>
    <v-list v-if="project != null">
      <template v-for="post in project.relations.posts">
        <v-list-tile :key="'project'+post.id">
          <v-list-tile-content>
            <v-list-tile-title>{{ post.title }}</v-list-tile-title>
          </v-list-tile-content>
          <v-btn icon color="blue" dark @click="showEditPostModal = true"><v-icon>edit</v-icon></v-btn>
          <v-btn icon color="red" @click="openDeleteModal(project.id)" dark><v-icon>delete</v-icon></v-btn>
        </v-list-tile>
        <v-divider :key="'divider'+post.id"></v-divider>
      </template>
    </v-list>
  </v-card-text>
</v-card>
</template>

<script>
import Form from 'vform'
import { mapGetters } from 'vuex'
const axios = require('axios')

export default {
  scrollToTop: false,

  head () {
    return { title: 'Удирдлага' }
  },

  data: () => ({
    form: new Form({
      name: '',
      email: ''
    }),
    project: null,
    startDate: null,
    endDate: null,
    errorSnackbar: false,
    successSnackbar: false,
    showEditPostModal: false
  }),

  computed: mapGetters({
    user: 'auth/user'
  }),

  created () {
    this.loadProject()
  },

  methods: {

    loadProject(){
      axios.get(process.env.apiUrl+'/project/'+this.$route.params.id)
      .then((response) => {
        this.project = response.data.data;
        this.project.goal_amount = parseInt(this.project.goal_amount.replace(/,/g, ''))
      })
      .catch(function (error) {
        console.log(error);
      })
    },
    
    updatePost(){
      if(this.project.name != null &&
        this.project.category_id != null &&
        this.project.goal_amount > 0 &&
        this.project.start_date != null &&
        this.project.end_date != null &&
        this.project.description != null &&
        this.project.overview != null &&
        this.project.story != null &&
        this.project.thumbnail_img != null){

        axios.put(process.env.apiUrl+'/project/'+this.user.id, this.project)
          .then((response) => {
            this.successSnackbar = true
            this.$router.push({ name: 'dashboard.projects' })
          })
          .catch(function (error) {
            console.log(error);
          })
      }else{
        this.errorSnackbar = true
      }
    }
  }
}
</script>
